@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
    background-image: url("./assets/Background.png"), url("./assets/Background2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, 50% 0%;
    background-size: 69rem, 90rem;
}

.testimonial-bg {
    background-image: url("./assets/testimonialBg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}